.HeaderDiv {
  width: 100%;
  height: 74px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.16);
}

.NavFirstDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}

.LinkDiv {
  width: 499px;
  margin-right: 150px;
}

.DisAbleLink {
  margin-right: 50px;
  text-decoration: none;
  color: #282828;
}

.activeLink {
  margin-right: 30px;
  text-decoration: none;
  color: #28a745;
}

.BtnLogin {
  border: 2px solid #28a745;
  color: #28a745;
  background-color: white;
  border-radius: 8px;
  width: 166px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.BtnLogin img {
  margin-left: 5px;
}

.FooterDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  /* margin-top: 50px; */
  /* width: 1440px; */
  width: 100%;
}

.MainFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.DivFirstListFooter {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.FirstListFooter {
  margin-left: 120px;
}

.FirstListFooter p {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
}

.FirstListFooter ul li {
  list-style: none;
  margin-top: 10px;
  color: rgba(40, 40, 40, 1);
}

.SecondSectionFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.DivLogoFooter {
  margin-top: 35px;
}

.DivLogoFooter img {
  margin-bottom: 20px;
}

.DivImg {
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.DivImg img {
  margin-left: 25px;
}

.DivP {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.DivP p {
  margin: 20px;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 400;
}
