.DivImageDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
}

.ImageDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.DivDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}

.DivDescription h3{
    margin-bottom: 20px;
}